<h1>Quanto alcool?</h1>
<%= button_to "Analcolico", analcolico_path, method: :get, class: "btn btn-primary" %>
<%= button_to "Lieve", "#", method: :get, class: "btn btn-primary" %>
<%= button_to "Moderato", "#", method: :get, class: "btn btn-primary" %>
<%= button_to "Deciso", "#", method: :get, class: "btn btn-primary" %>
<%= button_to "Forte", "#", method: :get, class: "btn btn-primary" %>
